body {
  font-family: $font-family-1;
  letter-spacing: 0.1em;
}
.nyz-container {
  margin: 0 auto;
  max-width: 1280px;
}
.nav {
  font-family: $font-family-2;
  background-color: $main-bg-1;
  color: $main-text-1;
  padding: 32px 0;
  &--item {
    position: relative;
    padding: 0px 24px;
    .sub-text {
      font-family: $font-family-3;
    }
    &--detail {
      border-radius: 0px 20px 20px 20px;
      position: absolute;
      top: 60px;
      background-color: rgb(200, 181, 168, 0.6);
      padding: 20px 12px;
      width: 180px;
      display: none;
      z-index: 2;
      &--mobile {
        display: none;
        padding-top: 4px;
        font-size: medium;
      }
    }
  }

  &--logo {
    max-width: 240px;
  }
}

.footer {
  background-image: url("../images/footer/footerBg.png");
  background-position-y: -160px;
  background-repeat: repeat-x;
  font-family: $font-family-2;
  color: $main-text-1;
  &--inner {
    position: relative;
  }
  &--item {
    a {
      letter-spacing: 0.16em;
    }
  }
  &--icons {
    position: absolute;
    right: 0;
    top: 30%;
  }
  &--end {
    color: white;
    background-color: $main-bg-2;
  }
}

@media (max-width: 768px) {
  .footer {
    background-position: 0px;
  }
}
