/*
  全域 & 元件
*/
body {
  color: $main-text-1;
  font-family: $font-family-2;
  letter-spacing: 0.1em;
}
main {
  min-height: 48vh;
}
.nyz-container {
  margin: 0 auto;
  max-width: 1280px;
}
.nav {
  z-index: 1;
  background-color: $main-bg-1;
  color: $main-text-1;
  padding: 32px 0;
  &--item,
  &--item--double {
    position: relative;
    padding: 0px 24px;
    .sub-text {
      font-family: $font-family-3;
    }
    &--detail {
      border-radius: 0px 20px 20px 20px;
      position: absolute;
      top: 60px;
      background-color: rgb(200, 181, 168, 0.6);
      padding: 20px 12px;
      width: 180px;
      display: none;
      z-index: 2;
      &--double {
        border-radius: 0px 20px 20px 20px;
        position: absolute;
        top: 60px;
        background-color: rgb(200, 181, 168, 0.6);
        padding: 20px 12px;
        width: 180px;
        display: none;
        z-index: 2;
        &--sub {
          letter-spacing: 2px;
          color: white;
        }
      }
      &--mobile {
        display: none;
        padding-top: 4px;
        font-size: medium;
      }
    }
  }

  &--logo {
    max-width: 240px;
  }
}
.sider {
  width: 156px;
  &--menu {
    font-weight: bold;
    text-align: center;
  }
  &--title {
    color: $main-text-2;
    font-family: $font-family-3;
    font-size: 40px;
  }
}
.accordion {
  width: 156px;
  &--menu {
    font-weight: bold;
    text-align: center;
  }
  &--title {
    color: $main-text-2;
    font-family: $font-family-3;
    font-size: 40px;
  }
}
.breadcrumb {
  font-family: $font-family-3;
  font-size: larger;
  span {
    margin-inline-end: 8px;
    padding-inline: 0;
  }
}
.footer {
  background-image: url("../images/footer/footerBg.png");
  background-position-y: -160px;
  background-repeat: repeat-x;
  color: $main-text-1;
  &--inner {
    position: relative;
  }
  &--item {
    a {
      letter-spacing: 0.16em;
    }
  }
  &--icons {
    position: absolute;
    right: 0;
    top: 30%;
  }
  &--end {
    font-family: $font-family-1;
    color: white;
    background-color: $main-bg-2;
  }
}
.horizon {
  height: 1px;
  margin: 40px 0;
  background-color: $main-text-2;
}

/*
  通用 class
*/
.nyz-text-light {
  color: $main-text-2;
  font-weight: normal;
}
.nyz-text-dark {
  color: $main-text-1;
}
.nyz-ff-normal {
  font-family: $font-family-2;
}
.nyz-ff-didot {
  font-family: $font-family-3;
}


/*
  首頁
*/
.index--portfolio--title {
  letter-spacing: 0.2em;
  margin: 16px -100px;
  padding: 24px 82px;
  display: inline-block;
  background-image: url("../images/index/portfolioTitleBg.png");
  background-repeat: no-repeat;
  background-position: right 0;
  h2 {
    font-family: $font-family-3;
  }
  h3 {
    position: relative;
  }
  h3::before {
    content: "";
    z-index: 2;
    position: absolute;
    left: 0px;
    bottom: 10px;
    height: 1px;
    width: 100px;
    display: block;
    background-color: $main-text-1;
  }
}
.index--wrap {
  padding-bottom: 60px;
  background: url("../images/index/portfolioBgLeft\(white\)_05.png") left bottom
      no-repeat,
    url("../images/index/portfolioRight\(white\).jpg") right bottom no-repeat;
}
.index--price--title {
  letter-spacing: 0.2em;
  padding: 36px 102px;
  display: inline-block;
  background-image: url("../images/index/橢圓\ 1.png");
  background-repeat: no-repeat;
  background-position: right 0 top 40%;
  h2 {
    font-family: $font-family-3;
  }
  h3 {
    position: relative;
  }
  h3::before {
    content: "";
    z-index: 2;
    position: absolute;
    left: 0px;
    bottom: 10px;
    height: 1px;
    width: 24px;
    display: block;
    background-color: $main-text-1;
  }
}
.index--reserve {
  position: relative;
  padding-top: 200px;
  background-image: url("../images/pattern01.jpg");
  background-repeat: no-repeat;
  background-position: right 0;
}
.index--reserve--title {
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
  letter-spacing: 0.2em;
  margin: 16px 0px;
  padding: 24px 82px;
  display: inline-block;
  h2 {
    font-family: $font-family-3;
  }
  h3 {
    position: relative;
  }
  h3::before {
    content: "";
    z-index: 2;
    position: absolute;
    left: 0px;
    bottom: 10px;
    height: 1px;
    width: 60px;
    display: block;
    background-color: $main-text-1;
  }
}
.index--reserve--item {
  position: relative;
  span {
    font-size: 20px;
    display: none;
    color: white;
    position: absolute;
    top: 50%;
    right: 40%;
    z-index: 2;
    font-family: $font-family-3;
  }
}
.index--reserve--card {
  position: relative;
}
.index--reserve--card:hover::after {
  content: "";
  color: white;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: block;
  background-image: url("../images/index/矩形\ 154.png");
  background-size: cover;
  opacity: 90%;
}

/*
  關於我們
*/
.about--wrap {
  background-image: url("../images/pattern02.png");
  background-repeat: no-repeat;
  background-position: left 30% bottom;
  &--bg {
    z-index: -1;
    background-image: url("../images/about/向量圖智慧型物件.png");
    background-repeat: no-repeat;
    width: 500px;
    height: 540px;
    position: absolute;
  }
}
.about--contain {
  width: calc(100% - 156px);
  color: $main-text-2;
  &--title {
    color: $main-text-1;
  }
}
.about--contact--list {
  color: $main-text-1;
}

/*
  紋繡作品
*/
.portfolio--card {
  position: relative;
  font-weight: bold;
  margin-bottom: 40px;
  letter-spacing: 0.2em;
}
.portfolio--card:hover::after {
  position: absolute;
  content: "";
  z-index: 2;
  right: 15px;
  top: 15px;
  height: 300px;
  width: 300px;
  display: block;
  border: 1px solid white;
  border-radius: 8px;
}
.portfolio--wrap, .price--wrap, .reserve--wrap {
  &--bg {
    z-index: -1;
    background-image: url("../images/about/向量圖智慧型物件.png");
    background-repeat: no-repeat;
    width: 500px;
    height: 540px;
    position: absolute;
  }
}

/*
  服務價格
*/
.price {
  &--title {
    display: inline-block;
    color: white;
    border-radius: 0px 16px 16px 16px;
    background-color: $main-bg-3;
    padding: 6px 20px;
    margin-bottom: 12px;
    margin-left: -16px;
  }
  &--list {
    margin-bottom: 48px;
    dt {
      padding: 8px 0;
    }
    dd {
      margin-bottom: 8px;
      padding-left: 4px;
    }
    &--block {
      margin: 24px 0 24px -16px;
      font-weight: bold;
      padding: 12px 20px;
      border-radius: 0px 16px 16px 16px;
      border: 2px solid $main-bg-2;
    }
  }
}

/*
  專業文章
*/
.news--wrap {
  background-image: url("../images/pattern02.png");
  background-repeat: no-repeat;
  background-position: left 30% bottom 160px;
  &--bg {
    z-index: -1;
    background-image: url("../images/about/向量圖智慧型物件.png");
    background-repeat: no-repeat;
    width: 500px;
    height: 540px;
    position: absolute;
  }
}

/*
  預約與須知 
*/
.reserve--list {
  line-height: 1.6;
  dt {
    padding: 0 0 0 36px;
    position: relative;
  }
  dt::before {
    content: "";
    z-index: 2;
    position: absolute;
    left: 0px;
    bottom: 10px;
    height: 1px;
    width: 30px;
    display: block;
    background-color: $main-text-2;
  }
  dd {
    margin-bottom: 20px;
  }
}

/*
  預約與須知  服務價格
*/
.reserve--wrap,
.price--wrap,


/*
  常見問題 專業文章
*/
.qa,
.news {
  &--title {
    display: inline-block;
    color: white;
    border-radius: 0px 16px 16px 16px;
    background-color: $main-bg-3;
    padding: 6px 20px;
    margin-bottom: 12px;
  }
  &--contain {
    width: 100%;
  }
  &--card:hover {
    background-image: url("../images/news/147.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

/*
  RWD
*/
@media (max-width: 1280px) {
  .index--wrap {
    background: url("../images/index/portfolioRight\(white\).jpg") right bottom
      no-repeat;
    background-size: 30%;
  }
}
@media (max-width: 768px) {
  .index--wrap,
  .about--wrap,
  .news--wrap {
    background: none;
  }
  .about--wrap,
  .portfolio--wrap,
  .price--wrap,
  .news--wrap,
  .reserve--wrap {
    &--bg {
      display: none;
    }
  }
  .price {
    &--title {
      margin-left: 4px;
    }
  }
  .portfolio--card:hover::after {
    display: none;
  }
  .footer {
    background-position: 0;
    padding-bottom: 20px;
  }
  .index--portfolio--title {
    margin: 16px 0px;
  }
  .sider {
    width: 100%;
  }
  .about--contain {
    width: 100%;
  }
  .news-nav-btn {
    display: none;
  }
}

/*
  輪播設定 swiper-config
*/
.swiper {
  height: 87vh;
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .slider-1 {
    background-image: url("../images/南以真紋繡_大圖01.jpg");
  }
  .slider-2 {
    background-image: url("../images/南以真紋繡_大圖02.jpg");
  }
  @media (max-width: 768px) {
    .slider-1 {
      background-image: url("../images/手機大圖輪播01.jpg");
    }
    .slider-2 {
      background-image: url("../images/手機大圖輪播02.jpg");
    }
  }
}