
$main-bg-1: #e5d0be;
$main-bg-2: #c8b5a8;
$main-bg-3: #ad9483;
$main-text-1: #927266;
$main-text-2: #cbb4a1;
$main-text-3: #975a16;
$current-nav-text: #c3aa9d;

//font family
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@100;200;300;400;500;600;700&display=swap');
$font-family-1: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei",  "Helvetica Neue", Arial, sans-serif;
$font-family-2: 'Noto Serif TC', serif;
$font-family-3: 'GFS Didot', serif;

//icon
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');