@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@font-face {
  font-family: "Didot";
  src: url("./Didot.ttf") format("truetype");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

/*
  全域 & 元件
*/
body {
  color: #927266;
  font-family: "Noto Serif TC", serif;
  letter-spacing: 0.1em;
  font-size: 15px;
}

main {
  min-height: 48vh;
}

.nyz-container {
  margin: 0 auto;
  max-width: 1280px;
}

.nav {
  z-index: 1;
  background-color: #e5d0be;
  color: #927266;
}
.nav--inner {
  padding: 32px 0;
}
.nav--item, .nav--item--double {
  position: relative;
  padding: 0px 24px;
}
.nav--item .sub-text, .nav--item--double .sub-text {
  font-family: "Didot", "GFS Didot", serif;
}
.nav--item--li, .nav--item--double--li {
  border-bottom: 1px solid transparent;
  margin-bottom: 8px;
  padding: 4px 0;
  transition: #975a16 0.3s, #975a16 0.3s;
}
.nav--item--li:hover, .nav--item--double--li:hover {
  border-bottom: 1px solid #ad9483; /* Equivalent to transparent */
  color: white;
}
.nav--item--detail, .nav--item--double--detail {
  border-radius: 0px 20px 20px 20px;
  position: absolute;
  top: 60px;
  background-color: rgba(200, 181, 168, 0.6);
  padding: 20px 20px;
  display: none;
  z-index: 2;
}
.nav--item--detail--double, .nav--item--double--detail--double {
  border-radius: 0px 20px 20px 20px;
  position: absolute;
  top: 60px;
  background-color: rgba(200, 181, 168, 0.6);
  padding: 20px 12px;
  width: 180px;
  display: none;
  z-index: 2;
}
.nav--item--detail--double--sub, .nav--item--double--detail--double--sub {
  letter-spacing: 2px;
  color: white;
}
.nav--item--detail--double--sub li:hover, .nav--item--double--detail--double--sub li:hover {
  color: #ab937e;
}
.nav--item--detail--mobile, .nav--item--double--detail--mobile {
  display: none;
  padding-top: 4px;
  font-size: medium;
}
.nav--logo {
  display: block;
  margin-top: 36px;
  width: 240px;
  background-image: url("../images/index/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.nav--logo:hover {
  display: block;
  margin-top: 36px;
  width: 240px;
  background-image: url("../images/index/logo-w.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.nav--mobile--open {
  margin: 32px 0;
}

.sider {
  width: 156px;
}
.sider button,
.sider a {
  letter-spacing: 4px;
}
.sider--menu {
  font-weight: bold;
  text-align: center;
}
.sider--title {
  color: #ab937e;
  font-family: "Didot", "GFS Didot", serif;
  font-size: 40px;
}

.accordion {
  width: 156px;
}
.accordion--menu {
  font-weight: bold;
  text-align: center;
}
.accordion--title {
  color: #ab937e;
  font-family: "Didot", "GFS Didot", serif;
  font-size: 40px;
}

.breadcrumb {
  font-family: "Didot", "GFS Didot", serif;
  font-size: larger;
}
.breadcrumb span {
  margin-inline-end: 8px;
  padding-inline: 0;
}

.footer {
  margin-top: 120px;
  background-image: url("../images/footer/footerBg.png");
  background-position-y: -160px;
  background-repeat: repeat-x;
  color: #927266;
}
.footer--inner {
  position: relative;
}
.footer--item a {
  letter-spacing: 0.16em;
}
.footer--item:hover {
  color: #975a16;
}
.footer--icons {
  position: absolute;
  right: 0;
  top: 30%;
}
.footer--end {
  font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
  color: white;
  background-color: #c8b5a8;
}

#footer-placeholder {
  padding-top: 40px;
}

.horizon {
  height: 1px;
  margin: 40px 0;
  background-color: #ab937e;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  color: #ab937e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/*
  通用 class
*/
.nyz-text-light {
  color: #ab937e;
  font-weight: normal;
}

.nyz-text-dark {
  color: #927266;
}

.header-clicked {
  color: #c3aa9d;
}

.nyz-ff-normal {
  font-family: "Noto Serif TC", serif;
}

.nyz-ff-didot {
  font-family: "Didot", "GFS Didot", serif;
}

/*
  首頁
*/
.index--portfolio--title {
  letter-spacing: 0.2em;
  margin: 16px -140px;
  padding: 24px 82px;
  display: inline-block;
  background-image: url("../images/index/portfolioTitleBg.png");
  background-repeat: no-repeat;
  background-position: right 0;
}
.index--portfolio--title h2 {
  font-family: "Didot", "GFS Didot", serif;
}
.index--portfolio--title h3 {
  position: relative;
}
.index--portfolio--title h3::before {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0px;
  bottom: 10px;
  height: 1px;
  width: 100px;
  display: block;
  background-color: #927266;
}

.index--wrap {
  padding-bottom: 60px;
  background: url("../images/index/portfolioBgLeft(white)_05.png") left bottom no-repeat, url("../images/index/portfolioRight(white).jpg") right bottom no-repeat;
}

.index--price--title {
  letter-spacing: 0.2em;
  padding: 36px 102px;
  display: inline-block;
  background-image: url("../images/index/橢圓 1.png");
  background-repeat: no-repeat;
  background-position: right 0 top 40%;
}
.index--price--title h2 {
  font-family: "Didot", "GFS Didot", serif;
}
.index--price--title h3 {
  position: relative;
}
.index--price--title h3::before {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0px;
  bottom: 10px;
  height: 1px;
  width: 24px;
  display: block;
  background-color: #927266;
}

.index--price--item {
  width: 100%;
  text-align: center;
}

.index--reserve {
  position: relative;
  padding-top: 200px;
  background-image: url("../images/pattern01.jpg");
  background-repeat: no-repeat;
  background-position: right 0;
}

.index--reserve--title {
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
  letter-spacing: 0.2em;
  margin: 16px 0px;
  padding: 24px 40px;
  display: inline-block;
}
.index--reserve--title h2 {
  font-family: "Didot", "GFS Didot", serif;
}
.index--reserve--title h3 {
  position: relative;
}
.index--reserve--title h3::before {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0px;
  bottom: 10px;
  height: 1px;
  width: 60px;
  display: block;
  background-color: #927266;
}

.index--reserve--item {
  position: relative;
}
.index--reserve--item span {
  font-size: 20px;
  display: none;
  color: white;
  position: absolute;
  top: 50%;
  right: 40%;
  z-index: 2;
  font-family: "Didot", "GFS Didot", serif;
}

.index--reserve--card {
  position: relative;
}

.index--reserve--card:hover::after {
  content: "";
  color: white;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: block;
  background-image: url("../images/index/矩形 154.png");
  background-size: cover;
  opacity: 90%;
}

/*
  關於我們
*/
.about--wrap {
  background-image: url("../images/pattern02.png");
  background-repeat: no-repeat;
  background-position: left 30% bottom;
}
.about--wrap--bg {
  z-index: -1;
  background-image: url("../images/about/向量圖智慧型物件.png");
  background-repeat: no-repeat;
  width: 500px;
  height: 540px;
  position: absolute;
}

.about--contain {
  width: calc(100% - 156px);
}
.about--contain--title {
  color: #927266;
}

.about--contact--list {
  color: #927266;
}

/*
  紋繡作品
*/
.portfolio--card {
  position: relative;
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 0.2em;
}

.portfolio--card:hover::after {
  position: absolute;
  content: "";
  z-index: 2;
  right: 15px;
  top: 15px;
  height: 300px;
  width: 300px;
  display: block;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
}

.portfolio--wrap--bg,
.price--wrap--bg,
.reserve--wrap--bg {
  z-index: -1;
  background-image: url("../images/about/向量圖智慧型物件.png");
  background-repeat: no-repeat;
  width: 500px;
  height: 540px;
  position: absolute;
}

/*
  服務價格
*/
.price--contain {
  font-size: 16px;
}
.price--title {
  display: inline-block;
  color: white;
  border-radius: 0px 16px 16px 16px;
  background-color: #ad9483;
  padding: 6px 20px;
  margin-bottom: 20px;
  margin-left: -12px;
}
.price--list {
  margin-bottom: 48px;
}
.price--list dt {
  padding: 8px 0;
  margin-left: -3px;
}
.price--list dd {
  margin-bottom: 8px;
  padding-left: 4px;
}
.price--list--block {
  margin: 24px 0 24px 0px;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 0px 16px 16px 16px;
  border: 2px solid #c8b5a8;
}

/*
  專業文章
*/
.news--wrap {
  background-image: url("../images/pattern02.png");
  background-repeat: no-repeat;
  background-position: left 30% bottom 160px;
}
.news--wrap--bg {
  z-index: -1;
  background-image: url("../images/about/向量圖智慧型物件.png");
  background-repeat: no-repeat;
  width: 500px;
  height: 540px;
  position: absolute;
}

.news--card {
  cursor: pointer;
}

/*
  預約與須知 
*/
.reserve--list {
  line-height: 1.6;
}
.reserve--list dt {
  padding: 0 0 0 36px;
  position: relative;
}
.reserve--list dt::before {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0px;
  bottom: 10px;
  height: 1px;
  width: 30px;
  display: block;
  background-color: #ab937e;
}
.reserve--list dd {
  margin-bottom: 20px;
}

/*
  預約與須知  服務價格
*/
.reserve--wrap--title,
.price--wrap--title,
.qa--title,
.news--title {
  display: inline-block;
  color: white;
  border-radius: 0px 16px 16px 16px;
  background-color: #ad9483;
  padding: 6px 20px;
  margin-bottom: 12px;
}
.reserve--wrap--contain, .reserve--wrap-pane,
.price--wrap--contain,
.price--wrap-pane,
.qa--contain,
.qa-pane,
.news--contain,
.news-pane {
  width: 100%;
}
.reserve--wrap--card:hover,
.price--wrap--card:hover,
.qa--card:hover,
.news--card:hover {
  background-image: url("../images/news/147.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

/*
  RWD
*/
@media (max-width: 1280px) {
  .index--wrap {
    background: url("../images/index/portfolioRight(white).jpg") right bottom no-repeat;
    background-size: 30%;
  }
}
@media (max-width: 768px) {
  .index--wrap,
  .about--wrap,
  .news--wrap {
    background: none;
  }
  .about--wrap--bg,
  .portfolio--wrap--bg,
  .price--wrap--bg,
  .news--wrap--bg,
  .reserve--wrap--bg {
    display: none;
  }
  .price--title {
    margin-left: 4px;
  }
  .portfolio--card:hover::after {
    display: none;
  }
  .footer {
    background-position: 0;
  }
  .footer > div {
    padding-bottom: 10px;
  }
  .index--portfolio--title {
    margin: 16px 0px;
  }
  .sider {
    width: 100%;
  }
  .about--contain {
    width: 100%;
  }
  .news-nav-btn {
    display: none;
  }
}
/*
  輪播設定 swiper-config
*/
/*
  輪播設定 純CSS
*/
.carousel {
  margin-left: 0;
  margin-right: 0;
}

ul.slides {
  z-index: 1;
  display: block;
  position: relative;
  height: 90vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
  display: block;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
  opacity: 1;
}

input:checked + .slide-container .nav label {
  display: block;
}

.lightbox .lb-container .lb-image {
  border: none;
}

.lightbox .lb-outerContainer {
  width: 100%;
  background: none;
}

.lb-closeContainer {
  display: none;
}/*# sourceMappingURL=all.css.map */