<header class="nav">
  <nav class="nyz-container flex justify-around px-4 md:px-0">
    <a href="index.html" class="nav--logo">
      <img alt="logo" class="hidden" />
    </a>
    <!-- PC menu-->
    <ul class="nav--inner md:flex flex-wrap items-center px-4 hidden gap-2">
      <li class="nav--item">
        <a class="nav--item--link" href="about.html" id="about.html">
          <div class="font-bold pb-[2px] hover:text-yellow-800">關於我們</div>
          <div class="text-white sub-text font-light">about</div>
        </a>
        <ul class="nav--item--detail w-32">
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="about.html">品牌介紹</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="about-teacher.html">專業師資</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="about-contact.html">聯絡我們</a>
          </li>
        </ul>
      </li>

      <li class="nav--item">
        <a class="nav--item--link" href="portfolio.html" id="portfolio.html">
          <div class="font-bold pb-[2px] hover:text-yellow-800">紋繡作品</div>
          <div class="text-white sub-text font-light">portfolio</div>
        </a>
        <ul class="nav--item--detail w-32">
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="portfolio-eyebrown.html">眉 毛</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="portfolio-eyebrown.html">眼 線</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="portfolio-eyebrown.html">嘴 唇</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="portfolio-eyebrown.html">髮際線</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="portfolio-eyebrown.html">除 色</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="portfolio-eyebrown.html">乳 暈</a>
          </li>
        </ul>
      </li>

      <li class="nav--item">
        <a class="nav--item--link" href="price.html" id="price.html">
          <div class="font-bold pb-[2px] hover:text-yellow-800">服務價格</div>
          <div class="text-white sub-text font-light">price</div>
        </a>
        <!-- nav--item--detail -->
      </li>

      <li class="nav--item">
        <a class="nav--item--link" href="reserve.html" id="reserve.html">
          <div class="font-bold pb-[2px] hover:text-yellow-800">預約與須知</div>
          <div class="text-white sub-text font-light">reserve</div>
        </a>
        <ul class="nav--item--detail w-40">
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="reserve.html">我要預約</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="reserve.html">術前處理</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="reserve.html">術後處理</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="reserve.html">不適合施作</a>
          </li>
        </ul>
      </li>

      <li class="nav--item">
        <a class="nav--item--link" href="qa.html" id="qa.html">
          <div class="font-bold pb-[2px] hover:text-yellow-800">常見問題</div>
          <div class="text-white sub-text font-light">Q&A</div>
        </a>
        <ul class="nav--item--detail w-32">
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="qa.html">眉 毛</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="qa.html">眼 線</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="qa.html">嘴 唇</a>
          </li>
        </ul>
      </li>

      <li class="nav--item--double">
        <a class="nav--item--link" href="news.html" id="news.html">
          <div class="font-bold pb-[2px] hover:text-yellow-800">專業文章</div>
          <div class="text-white sub-text font-light">news</div>
        </a>
        <!-- 雙表格  -->
        <div class="nav--item--detail--double">
          <ul class="flex">
            <li class="nav--item--detail--double--main w-1/2">
              <ul class="px-2 border-solid border-r border-r-white">
                <li
                  class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
                >
                  <a class="nav--item--link" href="news.html">眉 毛</a>
                </li>
                <li
                  class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
                >
                  <a class="nav--item--link" href="news.html">眼 線</a>
                </li>
                <li
                  class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
                >
                  <a class="nav--item--link" href="news.html">嘴 唇</a>
                </li>
                <li
                  class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
                >
                  <a class="nav--item--link" href="news.html">髮際線</a>
                </li>
                <li
                  class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
                >
                  <a class="nav--item--link" href="news.html">乳 暈</a>
                </li>
                <li
                  class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
                >
                  <a class="nav--item--link" href="news.html">除 色</a>
                </li>
              </ul>
            </li>
            <li class="nav--item--detail--double--sub w-1/2">
              <ul class="px-3">
                <li
                  class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
                >
                  <a class="nav--item--link" href="news.html">飄眉</a>
                </li>
                <li
                  class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
                >
                  <a class="nav--item--link" href="news.html">霧眉</a>
                </li>
                <li
                  class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
                >
                  <a class="nav--item--link" href="news.html">飄霧眉</a>
                </li>
                <li
                  class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
                >
                  <a class="nav--item--link" href="news.html">男士眉</a>
                </li>
                <li
                  class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
                >
                  <a class="nav--item--link" href="news.html">改眉</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav--item">
        <a class="nav--item--link" href="class.html" id="class.html">
          <div class="font-bold pb-[2px] hover:text-yellow-800">紋繡課程</div>
          <div class="text-white sub-text font-light">class</div>
        </a>
        <ul class="nav--item--detail w-52">
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="class.html">開課時間</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="class.html">髮際線專班</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="class.html">眉眼唇全科班</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="class.html">眉毛專班</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="class.html">眼線專班</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="class.html">水透唇專班</a>
          </li>
          <li
            class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
          >
            <a class="nav--item--link" href="class.html">學員成功實例分享</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- mobile menu btn-->
    <button
      href="/"
      class="nav--mobile--open md:hidden border border-white py-3 px-5 rounded ml-auto hover:opacity-60"
    >
      <i class="fa-solid fa-bars text-white"></i>
    </button>
  </nav>
  <!-- mobile menu -->
  <ul class="hidden text-center items-center px-4 nav--mobile">
    <li class="nav--item py-4 text-xl">
      <a class="nav--item--link" href="about.html">
        <div class="font-bold pb-[2px] hover:text-yellow-800">關於我們</div>
        <div class="text-white sub-text font-light">about</div>
      </a>
      <ul class="nav--item--detail--mobile">
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="about.html">品牌介紹</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="about.html">專業師資</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="about-contact.html">聯絡我們</a>
        </li>
      </ul>
    </li>

    <li class="nav--item py-4 text-xl">
      <a class="nav--item--link" href="portfolio.html">
        <div class="font-bold pb-[2px] hover:text-yellow-800">紋繡作品</div>
        <div class="text-white sub-text font-light">portfolio</div>
      </a>
      <ul class="nav--item--detail--mobile">
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="portfolio-eyebrown.html">眉 毛</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="portfolio-eyebrown.html">眼 線</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="portfolio-eyebrown.html">嘴 唇</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="portfolio-eyebrown.html">髮際線</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="portfolio-eyebrown.html">除 色</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="portfolio-eyebrown.html">乳 暈</a>
        </li>
      </ul>
    </li>

    <li class="nav--item py-4 text-xl">
      <a class="nav--item--link" href="price.html">
        <div class="font-bold pb-[2px] hover:text-yellow-800">服務價格</div>
        <div class="text-white sub-text font-light">price</div>
      </a>
      <!-- nav--item--detail--mobile -->
    </li>

    <li class="nav--item py-4 text-xl">
      <a class="nav--item--link" href="reserve.html">
        <div class="font-bold pb-[2px] hover:text-yellow-800">預約與須知</div>
        <div class="text-white sub-text font-light">reserve</div>
      </a>
      <ul class="nav--item--detail--mobile">
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="reserve.html">我要預約</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="reserve.html">術前處理</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="reserve.html">術後處理</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="reserve.html">不適合施作</a>
        </li>
      </ul>
    </li>

    <li class="nav--item py-4 text-xl">
      <a class="nav--item--link" href="qa.html">
        <div class="font-bold pb-[2px] hover:text-yellow-800">常見問題</div>
        <div class="text-white sub-text font-light">Q&A</div>
      </a>
      <ul class="nav--item--detail--mobile">
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="qa.html">眉 毛</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="qa.html">眼 線</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="qa.html">嘴 唇</a>
        </li>
      </ul>
    </li>

    <li class="nav--item py-4 text-xl">
      <a class="nav--item--link" href="news.html">
        <div class="font-bold pb-[2px] hover:text-yellow-800">專業文章</div>
        <div class="text-white sub-text font-light">news</div>
      </a>
      <!-- 雙表格  -->
    </li>

    <li class="nav--item py-4 text-xl">
      <a class="nav--item--link" href="class.html">
        <div class="font-bold pb-[2px] hover:text-yellow-800">紋繡課程</div>
        <div class="text-white sub-text font-light">class</div>
      </a>
      <ul class="nav--item--detail--mobile">
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="class.html">開課時間</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="class.html">髮際線專班</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="class.html">眉眼唇全科班</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="class.html">眉毛專班</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="class.html">眼線專班</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="class.html">水透唇專班</a>
        </li>
        <li
          class="border-solid border-b border-b-white/0 hover:border-b hover:border-b-yellow-800/50 hover:text-white mb-2 py-1"
        >
          <a class="nav--item--link" href="class.html">學員成功實例分享</a>
        </li>
      </ul>
    </li>
  </ul>
</header>