<div>
  <a
    class="lightbox-cover"
    href="https://picsum.photos/id/237/500/400"
    data-lightbox="lightbox-set"
  >
    <img
      class="example-image"
      src="https://picsum.photos/id/237/300/200"
      alt="dog"
    />
  </a>

  <a
    class="lightbox-cover hidden"
    href="https://picsum.photos/id/1003/500/400"
    data-lightbox="lightbox-set"
  >
    <img
      class="example-image"
      src="https://picsum.photos/id/1003/300/200"
      alt="deer"
    />
  </a>

  <a
    class="lightbox-cover hidden"
    href="https://picsum.photos/id/219/500/400"
    data-lightbox="lightbox-set"
  >
    <img
      class="example-image"
      src="https://picsum.photos/id/219/300/200"
      alt="bigcat2"
    />
  </a>

  <a
    class="lightbox-cover hidden"
    href="https://picsum.photos/id/360/500/400"
    data-lightbox="lightbox-set"
  >
    <img
      class="example-image"
      src="https://picsum.photos/id/360/300/200"
      alt="flower"
    />
  </a>
</div>